/* General */

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: #F5F5F5;
  color: #302C2C;
  font-size: 20px;
  font-weight: 400;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #302C2C;
  text-decoration: none;
}

.button {
  background-color: #302C2C;
  border-radius: 30px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 25px;
  text-transform: uppercase;
  width: fit-content;
}

.button:active {
  background: #1a1818;
}

.all-caps {
  text-transform: uppercase;
}

/* Header */

.header {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 0 10%;
}

.title h1 {
  font-size: 40px;
  font-weight: 400;
}

.menu-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  list-style: none;
}

/* Main */

.description {
  align-items: center;
  display: flex;
  gap: 110px;
  justify-content: space-between;
  padding: 0 10%;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 600px;
}

.image-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 140px;
  padding-top: 180px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

.image-with-button {
  align-items: center;
  display: flex;
  gap: 110px;
  justify-content: space-between;
  padding: 0 10%;
}

.image-with-button div {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.see-more button,
.see-more-right-side button {
  margin-top: 40px;
}

.see-more-right-side {
  align-items: flex-end;
}

/* Image Gallery */

.image-gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 180px 10% 140px 10%;
}

.gallery-row {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

/* Pricing */

.pricing {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 140px;
  padding: 0 10%;
}

.about-price {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 600px;
}

.pricing {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 140px;
  padding: 0 10%;
}

.about-price-pets {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.pricing-pets {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 70px;
  justify-content: space-around;
  padding-bottom: 140px;
  padding: 0 10%;
}

.pricing-pets h2 {
  align-self: flex-start;
}

.price-pets-block {
  display: flex;
  gap: 70px;
}

.price-pets-block div {
  width: 500px;
}

.price-pets-block div p:first-child {
  font-weight: 500;
}

/* Footer */

.footer {
  align-items: center;
  background-color: #302C2C;
  color: #F5F5F5;
  display: flex;
  height: 150px;
  height: 270px;
  justify-content: space-between;
  padding: 15px 10%;
}

.bold-footer {
  font-weight: 600;
  margin-bottom: 20px;
}

.sns {
  text-align: center;
}