/* General */

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  min-height: 100vh;
  font-size: 20px;
  background-color: #F5F5F5;
  color: #302C2C;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #302C2C;
  text-decoration: none;
}

.button {
  background-color: #302C2C;
  border-radius: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: fit-content;
  padding: 20px 25px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.button:active {
  background: #1a1818;
}

/* Header */

.header {
  align-items: center;
  /* background-color: lightgray; */
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 0 10%;
}

.title h1 {
  font-size: 40px;
  font-weight: 400;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}

/* Main */

.description {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  gap: 110px;
  align-items: center;
}

.about {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.image-links {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  padding-bottom: 140px;
  gap: 30px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
}

.image-with-button {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  gap: 110px;
  align-items: center;
}

.image-with-button div {
  width: 600px;
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}

.see-more button,
.see-more-right-side button {
  margin-top: 40px;
}

.see-more-right-side {
  align-items: flex-end;
}

/* Footer */

.footer {
  background-color: #302C2C;
  color: #F5F5F5;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 15px 10%;
  align-items: center;
  height: 270px;
}

.bold-footer {
  font-weight: 600;
  margin-bottom: 20px;
}

.sns {
  text-align: center;
}